.sr{
	width: 400px;
}

.sr{
	width: 400px;
}

.station{
	
}

.terminus{
	color: #a6a6a6;
	width:60px;
	height:60px;
	-webkit-border-radius: 20px;
  	-moz-border-radius: 20px;
  	border-radius: 20px;
}

.seg{
	height:800px;
	width:20px;
	color: #a6a6a6;
}

.chartsm{
	height: 400px;
}

.chartt{
}